.idea
.DS_STORE
__pycache__/
*.pyc
website/medias/exercises/bin/
website/medias/exercises/tmp/
website/medias/user_codes/
website/medias/icons/users/
venv/
.venv/
website/config/secure/database_cnf_local.py
website/medias/exercises/mode_stdio/debug/