<div class="top_row"></div>
<div class="bottom_row"></div>

<div class="header_row">
    {% load static %}
    <span class="big_title">
        <a href="/"><img alt="logo district coders" src={% static 'images/logos/logo_district_1024.png' %} /></a>
        DISTRICT CODERS
    </span>
    <span class="connect_buttons">
        {% if user.is_authenticated %}
            <span>|{{ user.get_username }}| </span><span><button onclick="location.href='/accounts/logout';" class="button-dc"><div>LOG OUT</div></button>
        {% else %}
            <button onclick="location.href='/accounts/login';" class="button-dc"><div>LOG IN</div></button>
            <button onclick="location.href='/accounts/signup';" class="button-dc"><div>SIGN UP</div></button>
        {% endif %}
    </span>

</div>
