<ul>
    {% for i in assessments %}
        <li>
            <ul>
                <li>id :{{ i.id }}</li>
                <li>start time :{{ i.start_time }}</li>
                <li>end time :{{ i.end_time }}</li>
                <li>training time :{{ i.training_time }}</li>
                <li>result json :{{ i.result_json }}</li>
                <li>test :{{ i.test_id }}</li>
                <li>
                    groups :
                    <ul>
                    {% for k in i.groups.all %}
                            <li>{{ k.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
