{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Let's code" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    {{ languages|json_script:"languages" }}

    <script>
        editor_content = {};
        def_code = JSON.parse(document.getElementById("languages").textContent);

        {% for key, value in languages.items %}
            editor_content[{{ key }}] = {"default_code": def_code[{{ key }}]["default_code"], "last_code": ""};
        {% endfor %}

        // save the last lang_id
        ex_lang_id = 0

        function switch_language() {

            check_test_result();

            // get the language id from the dropdown menu
            var lang_id = document.getElementById("lang_id").value;

            // save the code before changing
            if (ex_lang_id !== 0) {
                editor_content[ex_lang_id]["last_code"] = document.getElementById("raw_code").value
            }
            ex_lang_id = lang_id

            // do the changes
            if (editor_content[lang_id]["last_code"].length === 0) {
                document.getElementById("raw_code").value = editor_content[lang_id]["default_code"];
            } else {
                document.getElementById("raw_code").value = editor_content[lang_id]["last_code"];
            }

        }

        function set_default_code() {
            // popup to confirm the choice
            if (!confirm("oh god, are you sure you wanna make it ?")) {
                return;
            }

            // get the language id from the dropdown menu
            var lang_id = document.getElementById("lang_id").value;
            // reset the last_code
            editor_content[lang_id]["last_code"] = "";
            document.getElementById("raw_code").value = editor_content[lang_id]["default_code"];
        }

        function save_current_code() {
            // get the language id from the dropdown menu
            var lang_id = document.getElementById("lang_id").value;

            editor_content[lang_id]["last_code"] = document.getElementById("raw_code").value;
        }

        function check_test_result() {
            // get infos from the form
            var formElement = document.getElementById("user_form");
            const data = new URLSearchParams(new FormData(formElement));
            // disable the form
            disable_form(true);
            // fetching
            fetch('/exercise/createstat/', {
                method: 'post',
                body: data,
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(json) {
                console.log(JSON.stringify(json));
                disable_form(false);
            });
        }

        function disable_form(is_disable) {
            if (is_disable) {
                document.getElementById("field_set_form").setAttribute("disabled", "disabled");
            } else {
                document.getElementById("field_set_form").removeAttribute("disabled");
            }
        }

    </script>

    <h2>Let's code</h2>

    <div class="wording">
        <ul>
            <li>id: {{ ex2tst.exercise.id }}</li>
            <li>title: {{ ex2tst.exercise.title }}</li>
            <li>desc: {{ ex2tst.exercise.description }}</li>
            <li>gen_file: {{ ex2tst.exercise.gen_file }}</li>
            <li>icon: {{ ex2tst.exercise.icon }}</li>
            <li>mode: {{ ex2tst.exercise.insp_mode_id }}</li>
            <li>
                Languages :
                <ul>
                    {% for key, value in languages.items %}
                        <li>
                            {{ value.name }}:
                            <ul>
                                <li>{{ value.result_test }}% of success in test mode</li>
                                <li>{{ value.result_train }}% of success in train mode</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="ide">
        <form id="user_form" method="post">
            {% csrf_token %}
            <fieldset id="field_set_form">
                <select name="lang_id" id="lang_id" onchange="switch_language()">
                    {% for key, value in languages.items %}
                        <option value={{ key }}>{{ value.name }}</option>
                    {% endfor %}
                </select>
                <textarea class="code" id="raw_code" name="raw_code" rows="5" cols="33"></textarea>

                <input id="ex2tst_id" name="ex2tst_id" type="hidden" value={{ ex2tst.id }}>
                <input id="asse_id" name="asse_id" type="hidden" value={{ asse_id }}>

                <input type="button" onclick="save_current_code();send_user_code()" value="Submit">
                <input type="button" onclick="set_default_code()" value="Reset editor">
            </fieldset>
        </form>
    </div>

    <pre>
        <div class="code" id="console_view"></div>
    </pre>

    <h2>Your last solution</h2>
    <div class="solution">
        <ul>
            {% for item in testresults %}
                {% if item.testresult_obj.solve_percentage != 0 %}
                <li>
                    {{ item.lang_obj.name }}
                    <ul>
                        <li>nb try: {{ item.testresult_obj.nb_test_try }}</li>
                        <li>solve time: {{ item.testresult_obj.solve_time }}</li>
                        <li>solve at: {{ item.testresult_obj.solve_percentage }}%</li>
                        <li>solve code:
                            <pre>
                                <div class="code" id="console_view">{{ item.testresult_obj.solve_code }}</div>
                            </pre>
                        </li>
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>
    <script>
        // load default code display
        // get the language id from the dropdown menu
        var lang_id = document.getElementById("lang_id").value;
        document.getElementById("raw_code").value = editor_content[lang_id]["default_code"];
        check_test_result();
    </script>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
