{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Assessment details" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <h3>Assessment : {{ assessment.start_time }}-{{ assessment.end_time }}</h3>
    <ul>
        {% for key, value in exo2tests.items %}
            <li>
                <ul>
                    <li>ex id :{{ value.ex2tst_obj.exercise.id }}</li>
                    <li>title :{{ value.ex2tst_obj.exercise.title }}</li>
                    <li>description :{{ value.ex2tst_obj.exercise.description }}</li>
                    <li>gen file :{{ value.ex2tst_obj.exercise.gen_file }}</li>
                    <li>icon :{{ value.ex2tst_obj.exercise.icon }}</li>
                    <li>gen type :{{ value.ex2tst_obj.exercise.insp_mode_id }}</li>
                    <li>{{ value.result_train }}% succeed in training mode</li>
                    <li>{{ value.result_test }}% succeed in test mode</li>
                    <li>rank: {{ value.ex2tst_obj.rank }}</li>
                    <li>score: {{ value.ex2tst_obj.score }}</li>
                    <li>languages :
                        {% for extstlng in value.ex_tst_lng %}
                            <img class="code_logo" src="{{ MEDIA_URL }}{{ extstlng.lang.icon }}">
                        {% endfor %}
                    </li>
                </ul>

                {% if value.is_redirected %}
                    This exercise is available in another assessment
                {% endif %}
                {% if not value.is_triable %}
                    <span style="color: red">Locked</span>
                {% endif %}
                <button onclick="location.href='/exercise/details?extest={{ value.ex2tst_obj.id }}&asse={{ value.asse_id }}';">Check it out</button>

            </li>
        {% endfor %}
    </ul>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
