{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Assessment details" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <h3>Assessment : {{ assessment.start_time }}-{{ assessment.end_time }}</h3>
    <ul>
        {% for key, value in exercises.items %}
            <li>
                <ul>
                    <li>ex id :{{ value.ex_obj.id }}</li>
                    <li>title :{{ value.ex_obj.title }}</li>
                    <li>description :{{ value.ex_obj.description }}</li>
                    <li>gen file :{{ value.ex_obj.gen_file }}</li>
                    <li>icon :{{ value.ex_obj.icon }}</li>
                    <li>gen type :{{ value.ex_obj.insp_mode_id }}</li>
                    <li>languages :
                        {% for lang in value.lang_objs %}
                            <img class="code_logo" src="{{ MEDIA_URL }}{{ lang.icon }}">
                        {% endfor %}
                    </li>
                </ul>
                {% if value.is_available %}
                    <button onclick="location.href='/exercise/details?ex={{ value.ex_obj.id }}';">Check it out</button>
                {% else %}
                    <span style="color: red">Not available</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
