{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Assessment details" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <h3>Assessment : {{ assessment.start_time }}-{{ assessment.end_time }}</h3>
    <ul>
        {% for key, value in exo2tests.items %}
            <li>
                <ul>
                    <li>ex id :{{ value.ex2tst_obj.exercise_id.id }}</li>
                    <li>title :{{ value.ex2tst_obj.exercise_id.title }}</li>
                    <li>description :{{ value.ex2tst_obj.exercise_id.description }}</li>
                    <li>gen file :{{ value.ex2tst_obj.exercise_id.gen_file }}</li>
                    <li>icon :{{ value.ex2tst_obj.exercise_id.icon }}</li>
                    <li>gen type :{{ value.ex2tst_obj.exercise_id.insp_mode_id }}</li>
                    <li>languages :
                        {% for lang in value.lang_objs %}
                            <img class="code_logo" src="{{ MEDIA_URL }}{{ lang.icon }}">
                        {% endfor %}
                    </li>
                </ul>
                {% if value.is_triable %}

                    {% if value.is_redirected %}
                        This exercise is available in another assessment
                    {% endif %}
                    <button onclick="location.href='/exercise/details?extest={{ value.ex2tst_obj.id }}&asse={{ value.asse_id }}';">Check it out</button>

                {% else %}
                    <span style="color: red">Not available</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
