{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Profile" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <h1>Mon profil :</h1>
    <ul>
        <li>[{{ user.id }}] {{ user.first_name }} {{ user.last_name }} aka '{{ user.username }}'</li>
        <li>email : {{ user.email }}</li>
        <li>Profile picture : <img class="code_logo" src="{{ MEDIA_URL }}{{ user.icon }}"></li>
        <li>description : {{ user.description }}</li>
        <li>mes groupes
            <ul>
                {% for key, value in groups.items %}
                    <li>{{ value.group_obj.name }}</li>
                    <li>membres :
                        <ul>
                            {% for user in value.group_users %}
                                <li>{{ user }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <form id="register_form" method="post">{% csrf_token %}
        <label>Register key</label>
        <input type="text" id="register_key" name="register_key">
        <input type="hidden" id="user_id" name="user_id" value={{ user.id }}>
        <input type="button" onclick="send_register_key()" value="Submit">
    </form>
    <div id="register_result"></div>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
