{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Change password" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
    <!-- ----------------------------------- --->
    <div class="container">
        <p class="m-auto">Your password has been updated.</p>
    </div>
    <!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
