{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Log in" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-dc" type="submit">Sign in</button>
        <a href="/accounts/password_reset">Forgot password?</a>
    </form>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
