{% extends "district/common/base.html" %}

{% block page_header %}
    {% with page_title="Sign up" %}
        {{ block.super }}
    {% endwith %}
{%  endblock %}

<!-- ----------------------------------- --->
{% block page_content %}
<!-- ----------------------------------- --->
    <div>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Sign up</button>
        </form>
    </div>
<!-- ----------------------------------- --->
{% endblock %}
<!-- ----------------------------------- --->
